.Footer-container{
    display: flex;
    background-color:black;
    justify-content: space-around;
    padding: 30px;
    text-align: left;
    color:white;
}

.Footer-bottom{
    padding: 20px;
    background-color:rgb(199, 29, 29);
    color:white;
}
img{
    width: 450px;
    height: 250px;
}
